.dictatorBoard {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-between' !important;
  padding: 20px;
  min-height: 90vh;
  max-height: 95vh;
  z-index: 100;
  touch-action: none;
}

.avatar {
  margin-left: 0px !important;
  border-radius: 0% !important;
  border-bottom-left-radius: 10% !important;
  height: 50px !important;
  width: 50px !important;
}

.dictatorRtlAvatar {
  margin-left: 16px;
  margin-right: 0px !important;
}

.rtl-full-select-field {
  width: 100% !important;
}

.dictatorDragger {
  z-index: 9999;
}

.resource {
  width: 50px;
  height: auto;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.playerCardHeader {
  align-items: flex-start !important;
  padding: 0px !important;
}

.playerCardContent {
  padding: 0px !important;
  min-height: 16px;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.centered {
  align-items: center;
  display: block !important;
}

.TextualDictatorModal {
    display: 'flex';
    flex-wrap: 'wrap';
  }

.TextualDictatorModalRoot.formControl {
    width: 100%
}