@font-face {
  font-family: Samim;
  src: url('fonts/samim.eot');
  src: url('fonts/samim.eot?#iefix') format('embedded-opentype'),
       url('fonts/samim.woff') format('woff'),
       url('fonts/samim.ttf') format('truetype');
  font-weight: normal;
}

*,input, textarea {
  font-family: 'Samim', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  /*direction: rtl;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Samim', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
